body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F5F5DC;
}

.container-to-do-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #F5F5DC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px;
  row-gap: 20px;
  overflow: hidden;
}

.container-search,
.container-tasks {
  width: 100%;
  border-radius: 20px;
  background: #42A5F5;
  padding: 3px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
}

.container-search {
  height: auto;
}

.container-tasks {
  height: 100%;
}

h1 {
  color: black;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

input,
.task-status-search,
.task-category-search,
.container-task-status-search ul,
.container-task-category-search ul {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #B0BEC5;
  background: #FFF;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input::placeholder {
  color: #a7abaf;
}

ul {
  list-style: none;
}

li a {
  display: block;
  padding: 10px 10px;
  cursor: pointer;
}

li a:hover {
  background-color: #e5e1e1;
}

.container-task-status-search,
.container-task-category-search {
  position: relative;
}

.container-task-status-search ul,
.container-task-category-search ul {
  height: auto;
  display: none;
  padding: 10px;
  margin-top: 5px;
  top: 100%;
  width: 90.5%;
  z-index: 1;
  position: absolute;
}

input {
  width: 550px;
}

img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.container-task-status-search .task-status-search,
.container-task-category-search .task-category-search {
  box-sizing: border-box;
  color: #a7abaf;
  width: 324px;
}

.container-tasks .task-status,
.container-tasks .task-category {
  width: 524px;
}

.add-task-btn {
  height: 50px;
  background-color: #28A745;
  border: 1px solid #000000;
  padding: 9px 17px;
  font-size: 23px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.add-task-btn:hover {
  background-color: #218838;
}

.label-filter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-search {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  width: 100%;
}

.filter-task-btn,
.delete-all-task-btn {
  border: 1px solid #000000;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-task-btn {
  background-color: #ff9800f2;
}

.delete-all-task-btn {
  background-color: #ef340a;
  margin-left: auto;
}

.filter-task-btn:hover {
  background-color: #e18700f2;
}

.delete-all-task-btn:hover {
  background-color: #D32F2F;
}

.empty {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  display: none;
}

.active-border {
  border: 2px solid #000;
  box-sizing: border-box;
}

.delete-task-btn {
  height: 50px;
  background-color: #ef340a;
  border: 1px solid #000000;
  padding: 9px 17px;
  font-size: 23px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.delete-task-btn:hover {
  background-color: #D32F2F;
}

.container-task {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
  padding-right: 5px;
  overflow-y: auto;
  height: 350px;
}

.task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}

.task-p,
.task-status-p,
.task-category-p {
  width: 300px;
  height: 50px;
  background: #FFF;
  padding: 0 10px;
  font-size: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.task-p {
  width: 600px;
  border-radius: 10px 0 0 10px;
}

.task-status-p {
  position: relative;
  justify-content: space-between;
  border-radius: 0;
}

.task-category-p {
  position: relative;
  justify-content: space-between;
  border-radius: 0 10px 10px 0;
}

.task-content {
  background: #FFF;
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  border-radius: 10px;
}

.options-status, .options-category {
  height: auto;
  border-radius: 10px;
  border: 1px solid #B0BEC5;
  background: #FFF;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  width: 94%;
  left: -0.5%;
  top: 100%;
  z-index: 1;
  position: absolute;
}

.task {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.dividing-line {
  width: 1.5px;
    height: 80%;
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
}

@media (min-width: 1030px) and (max-width: 1450px) {
  .task-p {
    width: 400px;
  }
  .task-status-p, .task-category-p {
    width: 200px;
  }
  .container-task {
    height: 300px;
  }
}

@media (min-width: 891px) and (max-width: 1030px) {
  .task-p {
    width: 350px;
  }
  .task-status-p, .task-category-p {
    width: 150px;
  }
  .container-task {
    height: 300px;
  }
}

@media (min-width: 631px) and (max-width: 891px) {
  .task-p {
    width: 200px;
  }
  .task-status-p, .task-category-p {
    width: 100px;
  }
  .container-task {
    height: 260px;
  }
}

@media (max-width: 631px) {
  .task-p {
    width: 100px;
  }
  .task-status-p, .task-category-p {
    width: 90px;
  }
  .container-task {
    height: 240px;
  }
}